/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variables CSS */
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, input, button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/* CPF FORM */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#cpfForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 0.8rem;
}

#cpfInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #333;
}
